@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
}

table {
  @apply min-w-full border-collapse;
}

th,
td {
  @apply border p-2 text-left;
}

input,
select,
textarea {
  @apply border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500;
}

button {
  @apply transition-colors duration-200;
}
